* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-image: url(./Programming.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.hero {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
}
h1 {
    font-size: 60px;
    letter-spacing: 15px;
}
hr {
    width: 50%;
    margin: 30px auto;
    border: 1.5px solid #fff;
}
p {
    font-size: 20px;
    margin-bottom: 30px;
} 
#launch {
    font-size: 40px;
    word-spacing: 40px;
    /* letter-spacing: 10px; */
}